<html lang="en">
  <%- include("./partials/head") %>
<body>
  <%- include("./partials/nav") %>
  <div class = "create-blog content">
   <form action = "/blogs" method = "POST">
    <label for = "title">Blog Title</label>
    <input type = "text" id = "title" name = "title" required>
    <label for = "snippet">Blog Snippet</label>
    <input type = "text" id = "snippet" name = "snippet" required>

    <label for = "body">Blog Body</label>
    <textarea id = "body" name = "body" required></textarea>
    <button>Submit</button>
   </form>
  </div>
</body>
  <%- include("./partials/footer") %>
</html>

